In [1]:
print('Hello World') ## Print Function

Hello World

### Python Character Set
1. Letters - A to Z , a to z
2. Digits Symbols - + - * / etc.
3. whitespaces - Blank spaces, tab , carriage return , newline , formfeed
4. other characters - python can process all ASCII and unicode characters as part of data or literals

### Variables 
A variable is a name given to a memory location in a program

In [3]:
name = 'Sandeep' ## String
age = 23 ## Integer
price = 29.99 ## Float

In [6]:
# print(age)
# print(price)
print(name)

Sandeep

In [8]:
print('My name is :',name)
print('My name is :',age)

My name is : Sandeep
My name is : 23

### We cant use special Symbols like @,#,!,%,$ etc.

In [9]:
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

### Data Types
1. Integers # 15 Integers cant contains decimal(.) 
2. String # Sandeep We have to use ('',"","''")
3. Float # 15.12 Decimal values are known as float
4. Boolean # True or False If variable Contains True or False is Known as Boolean
5. None #  If we Dont want to store value for intial stage e.g. a = None

In [13]:
a = None
print(type(a))
b = True
print(type(b))

<class 'NoneType'>
<class 'bool'>

In [16]:
a = 2
b = 5
sum = a+b
sum_ = a - b
print(sum)
print(sum_)

7
-3

In [18]:
# Expression Execution
A,B = 2,3
Txt = '@'
print(2*Txt*3)

@@@@@@

In [24]:
# Concat
A,B = '2',3
Txt = '@'
print((A+Txt)*B)

2@2@2@

In [25]:
A,B = 2,3
c = 4
print(A+B*c)

14

In [26]:
A,B = 10,5.0
c=A*B
print(c)

50.0

In [28]:
A,B = 1,2
C = A/B
print(C)

0.5

In [29]:
# Integer Division
A,B = 1.5,3
c = A//B
print(c,A/B)

0.0 0.5

### Floor Gives Closes integer which is lesser than or equal to the float value (A//B)

In [30]:
# Taking input from user & printing it
name = input("Name : ")
print(name)

Name : Sandeep
Sandeep

In [31]:
age = int(input("age :"))
print(age)
print(type(age))

age :12
12
<class 'int'>

In [32]:
age = float(input("age :"))
print(age)
print(type(age))

age :25
25.0
<class 'float'>

In [33]:
name = input("Name : ")
age = int(input("age :"))
price = float(input("Price :"))

print("My name is", name , "and I am ", age , "years old")

Name : Sandeep
age :25
Price :800
My name is Sandeep and I am  25 years old

In [35]:
not True and False or True

True